@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;900&display=swap');

body {
    font-family: "Oxygen", sans-serif;
    font-size: 15px;
    color: #222831;
}

.fz-13 {
    font-size: 13px;
}
.btn-primary {
    color: white;
    background-color: #30475e;
    font-size: 15px;
    border: none;
}
.bg-register {
    background-image: url(asset/UE.png);
    background-size: cover;
}